{
    "presets": [
        ["@babel/preset-env", {
            "modules": "commonjs",
            "targets": {
                "node": "current",
                "browsers": [
                    "> 1%",
                    "ie > 8"
                ]
            }
        }]
    ],
    "plugins": [
        "transform-async-to-generator",
        "syntax-async-functions"
    ]
}